[Unit]
Description=Photo API Server
After=network.target

[Service]
ExecStart=__NODE_BIN__ /home/pi/pi-photo-hub/api/server.js
WorkingDirectory=/home/pi/pi-photo-hub/api
Restart=always
User=pi
Environment=PATH=/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
