[Unit]
Description=Picapport Photo Server
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/pi-photo-hub/picapport
ExecStart=/opt/java/bin/java -jar /home/pi/pi-photo-hub/picapport/picapport.jar
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
