[Unit]
Description=Picapport Photo Server
After=network.target

[Service]
WorkingDirectory=/home/pi/pi-photo-hub/picapport
ExecStart=/bin/bash -c 'java -Xmx1024m -jar /home/pi/pi-photo-hub/picapport/picapport.jar'
Restart=always
User=pi
Environment=JAVA_HOME=/opt/java/jdk-17.0.2
Environment=PATH=/opt/java/jdk-17.0.2/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
